.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

ul {
  padding: 0 1rem;
}

h1 {
  padding-top: 1rem;
}

input {
  margin-bottom: 1rem;
}

.checkbox-input {
  margin-right: 0.3rem;
  position: relative;
  top: 1px;
}